/* Header */
#header {
    background-color: var(--white-color);
    width: 100%;
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 1px 2px 3px #ccc;
    user-select: none;
}
.header-top {
    height: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #f5f5f5;
}

.h-left {
    margin: 20px 70px 10px;
    cursor: pointer;
}

.h-center {
    width: 100%;
    margin: 10px 10px 10px;
    height: 70px;
}

.h-center-logo {
    display: block;
    text-align: center;
    cursor: pointer;
}

.h-center-logo img {
    width: 70px;
}

.h-right {
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.header__user {
    display: flex;
}

.header__user-img {
    text-align: center;
    font-size: 3rem;
    color: var(--primary-color);
    cursor: pointer;
    position: relative;
}

.header__user-img:hover {
    color: #2ab46d;
}

.header__user-img:hover .header__user-logout {
    display: flex;
}

.header__user-img::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 100px;
    height: 10px;
    background-color: #fff;
}

.header__user-img::after {
    position: absolute;
    content: "";
    top: 100%;
    right: 5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
}

.header__user-logout {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    top: 130%;
    right: 0;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
    display: none;
    animation: fadeIn linear 0.3s;
}



.header__user-logout-link {
    text-decoration: none;
    margin: 5px 0;
}

.header__user-logout-link {
    display: flex;
}

.header__user-logout-link:hover .header__user-logout-icon {
    color: #666;
}

.header__user-logout-link:hover .header__user-logout-text {
    color: #666;
}

.header__user-logout-icon {
    font-size: 2rem;
    color: var(--text-color);
    align-self: center;
    margin-right: 5px;
}
 
.header__user-logout-text {
    align-self: center;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 22px;
}
 

.header__user-name {
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 30px;
    margin-right: 10px;
    cursor: text;
}

.h-right__text {
    position: relative;
    display: flex;
}

.h-right__text::after {
    content: "";
    position: absolute;
    border: 1px solid #ccc;
    height: 18px;
    top: 2px;
    right: 78px;
}

.h-right__text-text {
    padding: 5px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 10px;
    cursor: pointer;
}

.header__cart {
    text-decoration: none;
    width: 100px;
    height: 34px;
    margin-right: 20px;
    font-size: 1.2rem;
    align-items: center;
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.header__cart-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__cart:hover {
    opacity: 0.5;
}

.header__cart-text {
    text-decoration: none;
    color: var(--primary-color);
    padding: 0 10px;
}

.header__cart-logo {
    color: var(--primary-color);
    position: relative;
    font-size: 1.8rem;
    margin: -5px;
} 

.header__cart-logo-index {
    position: absolute;
    width: 15px;
    font-size: 1.2rem;
    color: var(--white-color);
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    float: right;
    top: -5px;
    right: -6px;
}

/* Navbar */

.header-nav {

}

.h-nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.h-nav__list-item {
    margin: 0 43px;
}

.h-nav__list-item-link {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: #666;
}

.h-nav__list-item-link-main {
    color: var(--primary-color);
}

.h-nav__list-item-link:hover {
    color: var(--primary-color);
}

.h-nav__list-item-search {
    width: 210px;
    display: flex;
    height: 30px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
}

.h-nav__list-item-input {
    line-height: 30px;
    color: var(--text-color);
    font-size: 1.4rem;
    flex: 1;
    border: none;
    outline: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.h-nav__list-item-btn {
    width: 30px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.h-nav__list-item-btn:hover {
    opacity: 0.7;
}

.h-nav__list-item-icon {
    text-align: center;
    line-height: 30px;
    color: var(--white-color);
    font-size: 1.2rem;
}


/* Container */

#container {
    margin-top: 110px;
    user-select: none;
}

.slidershow {
    position: relative;
    overflow: hidden;
}

input[name = "r"] {
    position: absolute;
    visibility: hidden;
}

.sliders {
    display: flex;
    width: 400%;
}

.slider-item {
    width: 25%;
    transition: 0.6s;
}

.slider-item img {
    width: 100%;
    height: 100%;
} 

.slidershow__navgation {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.slidershow__navgation-bar {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.slidershow__navgation-bar:hover {
    background-color: var(--primary-color);
}


#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}

/* info */

.info {
    text-align: center;
    padding: 20px 0;
}

.info__header {
    padding: 20px 0;
}

.info__heading-header {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.info__heading-img {
    padding-bottom: 50px;
}

.info__header-slogan {
    margin: 44px auto;
    width: 440px;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.info__header-slogan-text {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 46px;
}

/* content */
.content__item {
    text-align: center;
    margin: 100px 0;
}

.content__item-img {
    text-align: center;
}

.content__item-img img {
    max-width: 90%;
    max-height: 70%;
}

.content__item-intro {
    max-width: 500px;
}

.content__item-intro-header {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    line-height: 2.4rem;
    margin: 40px 44px;
}

.content__item-intro-text { 
    margin: 0 44px;
    display: block;
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--text-color);
}

/* Footer */
#footer {
    margin-bottom: 20px;
    text-align: center;
    border-top: 1px solid var(--primary-color) ;
}


#footer .footer__list{
    font-size: 20px;
    margin-top: 40px;
}

#footer .footer__list .footer__list-item {
    display: inline-block;
    margin: 0 4px;
    text-decoration: none;
    color: var(--text-color)
}

#footer .footer__list .footer__list-item:hover {
    opacity: 0.8;
}



#footer .footer__content {
    font-size: 2rem;
    padding: 8px;
    
}

#footer .footer__content .footer__content-text {
    color: var(--primary-color);
}

#footer .footer__content .footer__content-link {
    color: var(--primary-color);
    text-decoration: none;
}

/* Authen modal */

.modal__register {
    position: fixed;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}

.modal__login {
    position: fixed;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}

.modal__overlay-login {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color : rgba(0, 0, 0, 0.5);
    animation: fadeIn linear 0.2s;
    z-index: 1;
    display: none;
}

.modal__overlay-register {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color : rgba(0, 0, 0, 0.5);
    animation: fadeIn linear 0.2s;
    z-index: 1;
    display: none;
}

input[name = "show-modal-login"] {
    position: absolute;
    visibility: hidden;
}

input[name = "show-modal-register"] {
    position: absolute;
    visibility: hidden;
}

#show_modal-login:checked ~ .modal__overlay-login {
    display: block;
}

#show_modal-login:checked ~ .modal__login {
    display: block;
}

#show_modal-register:checked ~ .modal__overlay-register {
    display: block;
}

#show_modal-register:checked ~ .modal__register {
    display: block;
}

.auth-form {
    width: 500px;
    background-color: #fff;
    border-radius: 4px;
    --growth-from: 0.7;
    --growth-to: 1;
    animation: growth linear 0.3s;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 400;
}

.auth-form__switch-btn-login {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}

.auth-form__switch-btn-register {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__title {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    margin: 6px 0;
}


.auth-form__input {
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    margin-bottom: 5px;
    color: var(--text-color);
    padding: 0 10px;
    border: 1px solid #666;
    outline: none;
    border-radius: 2px;
}

.auth-form__input:focus {
    border: 1px solid var(--primary-color);
}

.auth-form__input-error {
    border: 1px solid red;
}

.auth-form__error {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: red;
}

.auth-form__aside {
    margin: 4px 0 20px 0;
}

.auth-form__text {
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-align: center;
    color: var(--primary-color);
}

.auth-form__support {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__support-sepetare {
    content: "";
    height: 22px;
    border: 1px solid #cfcbcb;
    margin: 0 10px;
}

.auth-form__forget {
    font-size: 1.4rem;
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__help {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 16px;
}

.auth-form__social {
    margin-top: 10px;
    background-color: #e9e8e8;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}

.btn--with-icon {
    width: 200px;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    
}

.auth-form__social-facebook {
    background-color: #3A5A98;
    color: #fff;
}

.auth-form__social-facebook:hover {
    background-color: #293e68;
}


.auth-form__social-google {

    color: #333;
}

.auth-form__social-icon {
    font-size: 1.8rem;
    margin-right: 10px;
}

.body {
    margin-bottom: 40px;
}

.body-all {

}

/* Category */

.category {
    height: 220px;
}

.category-body {
    
}

.category__heading {
    text-align: left;
    font-size: 2rem;
}

.category__select {
    cursor: pointer;
    color: var(--black-color);
    font-size: 1.6rem;
}

.category__select:hover {
    color: var(--primary-color);
}

.category__select-icon {
    font-size: 1.4rem;
    display: inline-block;
    padding-right: 2px;
}

.category__select-icon-right {
    position: absolute;
}

.category__select-icon-down {
    visibility: hidden;
}


.category__list {
    padding: 0;
    font-size: 1.6rem;
    margin-left: 5px;
    border-bottom: 1px solid #ccc;
    animation: showList linear 0.2s;
    display: none;
}

.category__item {
    list-style: none;
    margin: 10px 0;
    margin-left: 10px;
}



.category__link-active {
    color: var(--primary-color) !important;
}

.category__link {
    text-decoration: none;
    color: var(--black-color);
}

.category__link:hover {
    color: var(--primary-color);
}

input[name = "show-list"] {
    position: absolute;
    visibility: hidden;
}

#category__show-list:checked ~ .category__list {
    display: block;
}

#category__show-list:checked ~ .category__select-icon-right {
    display: none;
}

#category__show-list:checked ~ .category__select-icon-down {
    visibility: visible;
}

/* ------------------------------------------------- */

.body-top {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.body-xs {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.body-xs-left {
    border-right: 1px solid #ccc;
}

.body-xs__header {
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 500;
}

.body-xs__btn {
    display: flex;
    margin: 12px 0;
    justify-content: space-between;
    border: 1px solid #999;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    position: relative;
}

.body-xs__btn:hover {
    border: 1px solid #666;
}

.body-xs__btn:hover 
.body-xs__btn-text {
    color: var(--black-color);
}

.body-xs__btn:hover 
.body-xs__btn-icon{
    color: var(--black-color);
}

.body-xs__btn:hover .body-xs__list{
    display: block;
}

.body-xs__btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    background-color: var(--white-color);
    top: 105%;
    right: 0;
}

.body-xs__btn-text {
    font-size: 1.3rem;  
    margin: 8px;
    color: #999;
}

.body-xs__btn-icon {
    margin: 8px;
    color: #999;
}

.body-xs__input {
    width: 150px;
    display: flex;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.body-xs__input:hover {
    border: 1px solid #666;
}

.body-xs__input-input { 
    width: 90px;
    line-height: 35px;
    color: var(--text-color);
    font-size: 1.4rem;
    flex: 1;
    border: none;
    outline: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 8px;

}

.body-xs__input-btn {
    width: 35px;
    background-color: var(--primary-color);
    cursor: pointer;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.body-xs__input-btn:hover {
    opacity: 0.7;
}

.body-xs__input-icon {
    text-align: center;
    line-height: 35px;
    width: 100%;
    color: var(--white-color);
    font-size: 1.2rem;
}



.body-xs__input:hover {
    border: 1px solid #666;
}

.body-xs__list {
    position: absolute;
    background-color: var(--white-color);
    min-width: 142px;
    right: 0;
    top: 115%;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    display: none;
    z-index: 1;
}

.body-xs__lists {
    text-align: left;
    padding: 0;
    height: 100%;
    margin: 0;
    animation: showList linear 0.1s;
}

.body-xs__lists-item {
    list-style: none;
}


.body-xs__lists-item-link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    padding: 10px;
}

.body-xs__lists-item-link:hover {
    background-color: #ccc;
}

/* Products */

.body__product {
    padding: 30px 0;
    margin-top: 20px;
    transition: transform linear 0.25s;
    will-change: transform;
}

.body__product:hover {
    box-shadow: 0 1px 8px 0 rgb(107 107 107 / 27%);
    transform: translateY(-10px);
}

.body__product-img {
    position: relative;
}

.body__product-img::after {
    position: absolute;
    content: "Yêu thích";
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 2px 4px;
    border-radius: 2px;
    display: block;
    top: 0;
    right: 15px;
}

.body__product-img img {
    width: 100%;
}

.body__product-heading {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: 20px;
    font-weight: 500;
    color: var(--black-color);
}

.body__product-price {
    display: block;
    color: var(--primary-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 20px;

}

.body__product-btn {
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 0px 14px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer; 
}

.body__product-btn-order {
    display: block;
    line-height: 30px;
    color: var(--primary-color);
    text-decoration: none;
}

.body__product-btn:hover {
    background-color: var(--primary-color);
}

.body__product-btn:hover .body__product-btn-order {
    color: var(--white-color);
}

/* modal order */

.product__body {
    width: 820px;
    background-color: var(--white-color);
    border-radius: 4px;
    --growth-from: 0.7;
    --growth-to: 1;
    animation: growth linear 0.3s;
}

.product__container {
    padding: 20px;
}

.product__order-img {
    
}

.product__order-img img {
    width: 100%;
    margin-bottom: 10px;
}

.product__order-price {
    color: var(--primary-color);
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
}

.product__order-info {
    position: relative;
    padding: 8px 0 28px 0;
}

.product__order-info__heading {
    color: var(--primary-color);
    font-size: 2.4rem;
    font-weight: 500;
}

.product__order-info-icon {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    color: #b1aeae;
    font-size: 2rem;
    right: 0;
    top: 0;
    cursor: pointer;
}

.product__order-info-icon:hover {
    background-color: rgb(206, 204, 204);
    color: var(--white-color);
}

.product__order-size {
    display: flex;
    margin-bottom: 20px;
}

.product__order-label {
    width: 100px;
}

.product__order-size-M {
    margin-right: 10px;
    border: 1px solid #ccc;
}

.product__order-size-L {
    border: 1px solid #ccc;
}

.product__order-number {
    display: flex;
    margin-bottom: 20px;
}

.product__order-number-list {
    border: 1px solid #B3B3B3;
    align-items: center;
    border-radius: 4px;
}

.product__order-number-item {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.4rem;
    cursor: pointer;
    user-select: none;
}

.product__order-number-item-left {
    border-right: 1px solid #B3B3B3;
}

.product__order-number-item-right {
    border-left: 1px solid #B3B3B3;
}

.product__order-notes {
    display: flex;
    margin-bottom: 10px;
}

.product__order-notes-note {
    max-width: 220px;
    height: 60px;
    resize: none;
    text-align: start;
    outline: none;
    font-size: 1.2rem;
    padding: 4px;
    cursor: text;
}

.product__order-sum {
    display: flex;
    margin-bottom: 25px;
}

.product__order-sum-price {
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 40.88px;
}

.product__order-order {
    float: left;
}

.product__order-order-btn {
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 0px 14px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer; 
}

.product__order-order-active {
    display: block;
    line-height: 30px;
    color: var(--primary-color);
    text-decoration: none;
}

.product__order-order-btn:hover {
    background-color: var(--primary-color);
}

.product__order-order-btn:hover .product__order-order-active {
    color: var(--white-color);
}